# fly.toml app configuration file generated for ketchup-t1zvtw on 2026-02-15T21:11:33Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ketchup-t1zvtw'
primary_region = 'sjc'

[build]
  image = 'ghcr.io/kejadlen/ketchup:fly.io'

[http_service]
  internal_port = 9292
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256

[env]
  DATABASE_URL = ':memory:'
  SENTRY_ENV = 'fly.io'
  DEFAULT_USER = 'demo@example.com:Demo User'
