app = 'ketchup-preview'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 9292
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256

[env]
  DATABASE_URL = ':memory:'
  SENTRY_ENV = 'preview'
  DEFAULT_USER = 'demo@example.com:Demo User'
